body {
  background-color: aqua;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0px;
}
header {
  background-color: aquamarine;
}
main {
  background-color: brown;
  flex-grow: 1;
}
footer {
  background-color: burlywood;
}